#header{
  padding: 20px;
}
#logoheading {
  color: black;
  font-size: 2rem;
  margin-top: 5px;
  font-family: "Lobster", sans-serif;
}
#logoheading a {
  text-decoration: none;
  color: #734060;
}
#menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

#menu li a {
  color: #1a1a1a;
  padding: 15px 10px;
  display: block;
  text-decoration: none;
}
#menu li a:hover {
  background-color: #baa5b3;
}
